body {
    margin: 0;
    padding: 0;
    /* border: 4px solid black; */
    
}


/* classes */

.test {border: 4px solid red;}
.container-fluid {padding: 0px;}


/* Landing page */




#landing-page {
    
    height: 100vh;
}

.transparent-container {
    /* background-color: rgba(0, 0, 0, .5); */
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    
}

.transparent-container > h1 {
    padding: 15px;
    
}


#landing-logo {
    width: 60vw;
    height: auto;
}


.nav-link {
    color: black;
    font-size: 2em;
}
.navbar {
    margin: 0;
}

#gus {
    background: rgb(242, 14, 15, .7);
    
}

#heisenberg {
    background-color: rgb(211, 156, 1, .7);
}

#jesse {
    background-color: rgb(90, 154, 209, .7);
}

#jesse-pic-block {
    justify-content: center;
    align-items: center;
}
.quote {
    justify-content: space-evenly;
    text-align: center;
    font-style: italic;
}

