html 
{
    overflow: hidden;
    height: 100%;
}

body 
{
    height: 100%;
    overflow: auto;
}

main 
{
    
}
.static_background {
    background-image: url("img/desert-bg-small.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    /* background-repeat: no-repeat;
    background-position: center;
    margin: 0;*/
 }